<h3 class="bg-primary p-1">{{getName()}}'s ToDo List</h3>

<div class="m-1">
    <input type="text" class="form-control" aria-label="" #todoText/>
    <button class="btn btn-primary m-1" (click)="addItem(todoText.value)">Add</button>
</div>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Description</th>
        <th colspan="2">Done</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of getTodoItems(); let i = index">
        <td>{{i+1}}</td>
        <td>{{item.action}}</td>
        <td><input type="checkbox" [(ngModel)]="item.done" aria-label=""/></td>
        <td [ngSwitch]="item.done">
            <span *ngSwitchCase="true">Yes</span>
            <span *ngSwitchDefault>No</span>
        </td>
    </tr>
    </tbody>
</table>
